$colors: (
  primary: (
    base: #2d6cea,
    lightest: #2eaade,
    darkest: #1b5cdc
  ),

  success: (
    base: #4eca7a,
    lightest: #96cf59,
    darkest: #369a5d
  ),

  warning: (
    base: #ffa83f,
    lightest: #ffcc63,
    darkest: #ff895f
  ),

  error: (
    base: #df484a,
    lightest: #f27075,
    darkest: #984848
  ),

  light: (
    base: #ececf6,
    lightest: #ffffff,
    darkest: #707070
  ),

  dark: (
    base: #141f36,
    lightest: #2d3d54,
    darkest: #15191b
  )
) !default;

@function color($color, $complementary: null) {
  @if map-has-key($colors, $color) {
    $type: map-get($colors, $color);
    @if $complementary == null {
      @if type-of($type) == map {
        @return map-get(map-get($colors, $color), 'base');
      } @else {
        @return map-get($colors, $color);
      }
    } @else {
      @return map-get(map-get($colors, $color), $complementary);
    }
  }
}
